{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th>Formations</th>
    </tr>
  </thead>
  <tbody>
    {% for formation in formations %}
    <tr>
      <td>{{formation.nomCourt}} - {{formation.nomLong}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
