{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
<h1>Cette page affichera la liste des formations de l IUT.</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Formations</th>
            <th>Intitulé Long</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>court</td>
            <td>long</td>
          </tr>
          <tr>
            <td>1</td>
            <td>long</td>
          </tr>
          <tr>
            <td>jkvbdsjk</td>
            <td>lkhf</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
