{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th>Entreprises</th>
    </tr>
  </thead>
  <tbody>
    {% for entreprise in entreprises %}
    <tr>
      <td>{{entreprise.nom}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
