{% extends 'base.html.twig' %}

{% block title %}Stages{% endblock %}

{% block body %}
<h1>Cette page affichera le descriptif du stage ayant pour identifiant {{idStage}} .</h1>

<h4>Titre : {{stage.getTitre()}}</h4> 

<h4>Description des missions : {{stage.getDescription()}}</h4>

<h4>Email de contact : {{stage.getEmail()}}</h4>

{% endblock %}
