{% extends 'base.html.twig' %}

{% block title %}Stages{% endblock %}

{% block body %}
<ul class="list-group">
  <li class="list-group-item"><strong>Titre : </strong>{{stage.titre}}</li>
  <li class="list-group-item"><strong>Description des missions : </strong>{{stage.description}}</li>
  <li class="list-group-item"><strong>Email : </strong>{{stage.email}}</li>
</ul>
{% endblock %}
